.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.hover-shade {
  padding: 8px;
  border-radius: 4px;
  transition: background-color 0.2s ease;
}

.hover-shade:hover {
  cursor: pointer;
  background-color: #f0f0f0; /* light gray */
}

.blurred {
  pointer-events: none;
  opacity: 0.2;
  filter: grayscale(100%) blur(1px);
  transition: 0.3s ease;
}

.add-spot-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 20%;

  display: flex;
  justify-content: center;
  align-items: center;

  background: rgba(222, 213, 213, 0.75);
  color: white;
  padding: 1rem 2rem;
  border-radius: 8px;
  z-index: 999;

  text-align: center;
  font-size: 1.25rem;
}


